@media(max-width:768px){

header{

flex-direction:column;

padding:20px;

}

nav ul{

flex-direction:column;

margin-top:20px;

}

.hero h1{

font-size:35px;

}

.cards{

flex-direction:column;

align-items:center;

}

.beneficios{

grid-template-columns:1fr;

}

}

.hamburguesa{

display:block;

}

nav{

display:none;

position:absolute;

top:80px;

left:0;

width:100%;

background:#081627;

padding:20px;

}

nav.active{

display:block;

}

nav ul{

flex-direction:column;

gap:20px;

}

}
